on: [push]

name: CI

jobs:
  build_and_test:
    name: Rust project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - name: Cache Dependencies
        uses: Swatinem/rust-cache@v2.8.2
      - uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release --all-features
